{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'notifications_unread.jinja2' %}

{% block title %}Previously read notifications{% endblock %}

{% block main_heading %}Previously read notifications{% endblock %}

{% block content %}
<p class="text-italic text-small text-secondary">This page shows your most recent, previously read notifications (up to a max of 100, pagination coming soon)</p>
{{ super() }}
{% endblock %}
