// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.nav {
  li {
    font-size: 0.6rem;
    font-weight: bold;
  }

  .nav {
    margin-left: 0;

    li {
      font-size: 0.8rem;
      font-weight: normal;
      border-bottom: 0;

      &.active a {
        color: $blue;
        text-decoration: underline;
      }
    }
  }

  .nav-item a {
    color: $blue;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
