// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.settings-list {
  list-style-type: none;

  li {
    margin-bottom: 1rem;
  }

  // Nested settings list
  ul li {
    margin-bottom: unset;
  }
}
